<div class="container mt-5">
  <h2>Detalles del Controlador</h2>
  <p><strong>Nombre:</strong> <%= @controlador.nombre %></p>
  <p><strong>Casilleros Activos:</strong> <%= @controlador.casilleros_activos ? 'Sí' : 'No' %></p>
  <p><strong>Casilleros Asociados:</strong></p>
  
  <ul>
    <% if @controlador.casilleros.any? %>
      <% @controlador.casilleros.each do |casillero| %>
        <li>
          ID: <%= casillero.id %> 
        </li>
      <% end %>
    <% else %>
      <li>No hay casilleros asociados</li>
    <% end %>
  </ul>

  <%= link_to 'Agregar Casillero', new_controlador_casillero_path(@controlador), class: 'btn btn-success' %>
  <%= link_to 'Volver a la Lista', controladores_path, class: 'btn btn-secondary' %>
  <%= link_to 'Eliminar', controlador_path(@controlador), method: :delete, data: { confirm: '¿Estás seguro de que deseas eliminar este controlador?', turbo: false }, class: 'btn btn-danger' %>
</div>
