<h1 class="text-center mb-4">Locker Metrics</h1>

<div class="container">
  <!-- Summary of general statistics -->
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="my-card text-center">
        <div class="card-body">
          <h5 class="card-title">Success Rate of Openings</h5>
          <p class="card-text display-6"><%= number_to_percentage(@success_rate_openings, precision: 2) %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="my-card text-center">
        <div class="card-body">
          <h5 class="card-title">Open Lockers</h5>
          <p class="card-text display-6"><%= @open_lockers %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="my-card text-center">
        <div class="card-body">
          <h5 class="card-title">Weekly Total Openings</h5>
          <p class="card-text display-6"><%= @total_weekly_openings %></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Table of metrics by locker -->
  <div class="">
    <table class="custom-table">
      <thead class="">
        <tr>
          <th scope="col">Locker</th>
          <th scope="col">Weekly Openings</th>
          <th scope="col">Total Openings</th>
          <th scope="col">Failed Attempts</th>
          <th scope="col">Password Changes</th>
          <th scope="col">Last Opened</th>
        </tr>
      </thead>
      <tbody>
        <% @lockers.each do |locker| %>
          <tr>
            <th scope="col">
              <%= link_to locker.name, locker_path(locker), class: "text-decoration-none" %>
            </th>
            <td><%= @weekly_openings_per_locker[locker.id] || 0 %></td>
            <td><%= @openings_per_locker[locker.id] || 0 %></td>
            <td><%= @failed_attempts_per_locker[locker.id] || 0 %></td>
            <td><%= @password_changes_per_locker[locker.id] || 0 %></td>
            <td><%= @last_opened_at_per_locker[locker.id] || "N/A" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<div class="">
<h3 class="text-center">Daily Locker Openings (Last 7 Days)</h3>
<table class="custom-table">
  <thead class="">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Total Openings</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_openings.each do |date, count| %>
      <tr>
        <td><%= date.strftime("%d/%m/%Y") %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row mb-4 justify-content-evenly">
<div class="col-md-5">
  <div class="my-card text-center">
    <div class="card-body">
      <h5 class="card-title">Most Opened Locker</h5>
      <% if @most_opened_locker %>
        <p class="card-text display-6"><%= @most_opened_locker.name %></p>
        <p>Total Openings: <%= @openings_per_locker[@most_opened_locker.id] || 0 %></p>
      <% else %>
        <p class="text-muted">No openings recorded yet.</p>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-5">
  <div class="my-card text-center">
    <div class="card-body">
      <h5 class="card-title">Locker with Most Failed Attempts</h5>
      <% if @most_failed_attempts_locker %>
        <p class="card-text display-6"><%= @most_failed_attempts_locker.name %></p>
        <p>Failed Attempts: <%= @failed_attempts_per_locker[@most_failed_attempts_locker.id] || 0 %></p>
      <% else %>
        <p class="text-muted">No failed attempts recorded yet.</p>
      <% end %>
    </div>
  </div>
</div>
</div>


</div>


