<h1 class="my-title mb-4">Detalles de Usuario</h1>

<div class="container">
  <div class="my-card mb-4">
    <div class="card-header bg-secondary text-white">
      <h2 class="mb-0">Información personal</h2>
    </div>
    <div class="card-body">
      <p><strong>Nombre:</strong> <%= @user.first_name %></p>
      <p><strong>Apellido:</strong> <%= @user.last_name %></p>
      <p><strong>Nombre de usuario:</strong> <%= @user.username %></p>
      <p><strong>Email:</strong> <%= @user.email %></p>
    </div>
  </div>

  <div class="my-card mb-4">
    <div class="card-header bg-secondary text-white">
      <h2 class="mb-0">Casilleros</h2>
    </div>
    <div class="card-body">
      <% if @lockers.any? %>
        <ul class="list-group">
          <% @lockers.each do |locker| %>
            <li class="list-group-item lister">
              <strong>Nombre:</strong> <%= locker.name %><br>
              <strong>Contraseña:</strong> <%= locker.password %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted">Sin casilleros todavía.</p>
      <% end %>
    </div>
  </div>

  <div class="my-card mb-4">
    <div class="card-header bg-secondary text-white">
      <h2 class="mb-0">Controladores</h2>
    </div>
    <div class="card-body">
      <% if @managers.any? %>
        <ul class="list-group">
          <% @managers.each do |manager| %>
            <li class="list-group-item lister">
              <strong>Nombre:</strong> <%= manager.name %><br>
              <strong>Casilleros activos:</strong> <%= manager.active ? 'Yes' : 'No' %>
              <div class="mt-2" />
              <%= link_to 'Ver controlador', manager_path(manager), class: 'my-btn-sec btn-sm' %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted">Sin controladores aún.</p>
      <% end %>
    </div>
  </div>

  <div class="mt-4 d-flex justify-content-center align-items-center gap-5 w-25 mx-auto">
    <%= form_with url: user_path(@user), method: :delete, class: 'd-inline flex-equal' do |form| %>
      <%= form.submit 'Eliminar', class: 'btn btn-outline-danger w-100', data: { confirm: '¿Estás seguro de que deseas eliminar este usuario?' } %>
    <% end %>
    <%= link_to 'Volver', users_path, class: 'btn btn-secondary flex-equal' %>
  </div>
</div>
