<div class="container mt-5">
  <div class="my-card">
    <div class="card-header text-center bg-secondary text-white">
      <h2>Controller Details</h2>
    </div>
    <div class="card-body px-5 pb-5">
      <table class="custom-table">
        <thead>
          <td>Name</td>
          <td>ID</td>
          <td>MAC</td>
          <td>Status</td>
          <td>Model</td>
        </thead>
        <tbody>
          <td><%= @manager.name.presence || "No name available" %></td>
          <td><%= @manager.id %></td>
          <td><%= @manager.mac_address.presence || "No MAC assigned" %></td>
          <td>
            <% if @manager.active %>
              <span class="co">Connected</span>
            <% else %>
              <span class="disco">Disconnected</span>
            <% end %>
          </td>
          <td>
            <% if @manager.predictor.present? %>
              <%= @manager.predictor.name %>
            <% else %>
              No model assigned
            <% end %>
          </td>
        </tbody>
      </table>

      <h4>Associated Lockers</h4>
      <% if @manager.lockers.any? %>
        <ul class="list-group mb-3">
          <% @manager.lockers.each do |locker| %>
            <li class="list-group-item d-flex justify-content-between bg-secondary text-white align-items-center">
              <%= locker.name %>
              <%= form_with url: unassign_locker_manager_path(@manager, locker_id: locker.id), method: :delete, local: true do %>
                <%= submit_tag "Unassign", data: { confirm: "Are you sure you want to unassign this locker?" }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-muted">No lockers associated</p>
      <% end %>

      <h4>Add Locker</h4>
      <% if @available_lockers.any? %>
        <%= form_with url: assign_locker_manager_path(@manager), method: :post, local: true do |form| %>
          <div class="form-group">
            <%= form.label :locker_id, "Select an available locker:", class: "form-label" %>
            <%= form.collection_select :locker_id, @available_lockers, :id, :name, prompt: "Select Locker", class: "form-select" %>
          </div>
          <%= form.submit "Assign Locker", class: "btn btn-success mt-3" %>
        <% end %>
      <% else %>
        <p class="text-muted">No available lockers to assign.</p>
      <% end %>

      <div class="mt-4 d-flex justify-content-between gap-5">
        <%= form_with url: check_connection_manager_path(@manager), method: :post, class: 'd-inline flex-equal' do %>
          <%= submit_tag 'Check Connection', class: 'btn btn-primary w-100 flex-equal' %>
        <% end %>

        <%= link_to 'Synchronize with ESP32', synchronize_manager_path(@manager), method: :patch, class: 'btn btn-warning flex-equal', data: { confirm: "This controller has #{@manager.lockers.count} lockers assigned. Are you sure you want to synchronize this controller with the ESP32?" } %>

        <%= form_with url: manager_path(@manager), method: :delete, class: 'd-inline flex-equal' do |form| %>
          <%= form.submit 'Delete', class: 'btn btn-danger w-100 flex-equal', data: { confirm: 'Are you sure you want to delete this controller?' } %>
        <% end %>

        <%= link_to 'Edit', edit_manager_path(@manager), class: 'btn btn-info flex-equal' %>
        <%= link_to 'Back to List', managers_path, class: 'btn btn-secondary flex-equal' %>
      </div>
    </div>
  </div>
</div>
