<h1 class="my-title mb-4">Crear Nuevo modelo</h1>

<div class="container">
  <%= form_with(model: @predictor, local: true, html: { enctype: "multipart/form-data", class: 'custom-form' }) do |f| %>
    
    <div class="mb-3">
      <%= f.label :name, 'Nombre del Predictor', class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Introduce el nombre del modelo' %>
    </div>

    <div class="mb-3">
      <%= f.label :txt_file, 'Sube la matriz hexadecimal del modelo en un archivo .txt', class: 'form-label' %>
      <%= f.file_field :txt_file, accept: ".txt", class: 'form-control' %>
    </div>

    <h3>Signos e Imágenes</h3>
    <% 6.times do |i| %>
      <div class="mb-3">
        <%= f.fields_for :signs, @predictor.signs.build do |sign_form| %>
          <%= sign_form.label :sign_name, "Símbolo #{i + 1}", class: 'form-label' %>
          <%= sign_form.text_field :sign_name, class: 'form-control', placeholder: "Nombre del Símbolo" %>

          <%= sign_form.label :image, "Imagen del Símbolo #{i + 1}", class: 'form-label mt-2' %>
          <%= sign_form.file_field :image, class: 'form-control' %>
        <% end %>
      </div>
    <% end %>

    <div class="mt-4 d-flex justify-content-center align-items-center gap-5">
      <%= f.submit 'Crear modelo', class: 'btn btn-primary flex-equal' %>
      <%= link_to 'Cancelar', predictors_path, class: 'my-btn-sec flex-equal' %>
    </div>
  <% end %>
</div>
