<!-- app/views/modelos/show.html.erb -->
<div class="container mt-5">
  <h2>Detalles del Modelo <%= @predictor.id %></h2>
  
  <p><strong>Archivo .txt:</strong> <%= @predictor.txt_file.filename.to_s if @predictor.txt_file.attached? %></p>

  <h3>Signos</h3>
  <div class="row">
    <% @predictor.signs.each do |sign| %>
      <div class="col-md-4 col-lg-2 mb-4">
        <div class="card text-center">
          <% if sign.image.attached? %>
            <%= image_tag sign.image, class: 'card-img-top img-fluid', size: '150x150' %>
          <% else %>
            <p>No hay imagen disponible.</p>
          <% end %>
          
          <div class="card-body">
            <h5 class="card-title"><%= sign.sign_name %></h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if current_user&.super_user? %>
    <div class="d-flex gap-2">
      <%= link_to 'Editar', edit_predictor_path(@predictor), class: 'btn btn-warning btn-sm' %>
      
      <%= form_with url: predictor_path(@predictor), method: :delete, class: 'd-inline' do |form| %>
        <%= form.submit 'Eliminar', class: 'btn btn-danger btn-sm', data: { confirm: '¿Estás seguro de que deseas eliminar este modelo?' } %>
      <% end %>
    </div>
  <% end %>
  
  <%= link_to 'Volver a la Lista de Modelos', predictors_path, class: 'btn btn-secondary mt-3' %>
</div>