<h1 class="text-center mt-4">Bienvenido, <%= @user.first_name %></h1>

<div class="container mt-5">
  <!-- Perfil del user en una tarjeta -->
  <section class="mb-4">
    <div class="card">
      <div class="card-header">
        <h2>Perfil del User</h2>
      </div>
      <div class="card-body">
        <p><strong>Nombre:</strong> <%= @user.first_name %></p>
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Fecha de Creación:</strong> <%= @user.created_at.strftime("%d/%m/%Y") %></p>
      </div>
    </div>
  </section>

  <!-- Estado de los lockers -->
  <section class="mb-4">
    <h2>Estado de los Lockers</h2>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Estado</th>
          <th>Ubicación</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <% @lockers.each do |locker| %>
          <tr>
            <td><%= locker.id %></td>
            <td>
              <%= button_to 'Generate Password', generate_password_locker_path(locker), method: :patch, class: "btn btn-warning", data: { confirm: "¿Seguro que deseas generar una nueva contraseña para el locker #{locker.id}?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <!-- Lista de Managers -->
  <section class="mb-4">
    <h2>Lista de Managers</h2>
    <ul class="list-group">
      <% @managers.each do |manager| %>
        <li class="list-group-item">
          <%= link_to manager.name, manager_path(manager), class: "text-decoration-none" %> 
        </li>
      <% end %>
    </ul>
  </section>

  <!-- Lista de Predictors -->
  <section class="mb-4">
    <h2>Lista de Predictors</h2>
    <ul class="list-group">
      <% @predictors.each do |predictor| %>
        <li class="list-group-item">
          <%= link_to predictor.id, predictor_path(predictor), class: "text-decoration-none" %> 
        </li>
      <% end %>
    </ul>
  </section>

</div>
