<div class="container mt-5">
  <h1 class="mb-4">Editar Casillero</h1>

  <%= form_with(model: @casillero, url: casillero_path(@casillero), local: true) do |form| %>
    <% if @casillero.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(@casillero.errors.count, "error") %> prohibieron que este casillero se guardara:</h4>
        <ul>
          <% @casillero.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <!-- Campo para Nombre del Casillero -->
    <div class="mb-3">
      <%= form.label :nombre, "Nombre del Casillero", class: "form-label" %>
      <%= form.text_field :nombre, class: "form-control", value: @casillero.nombre %>
    </div>

    <div class="mb-3">
      <%= form.label :clave, "Clave de Acceso", class: "form-label" %>
      <%= form.text_field :clave, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :dueño_email, "Correo del Usuario Asociado", class: "form-label" %>
      <%= form.collection_select :dueño_email, Usuario.all, :email, :email, { prompt: "Seleccione un correo" }, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Actualizar Casillero", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <%= link_to 'Cancelar', casillero_path(@casillero), class: "btn btn-secondary w-100 mt-2" %>
</div>
