<div class="container mt-5">
  <h2>Detalles del Casillero <%= @casillero.id %></h2>
  <p><strong>Controlador:</strong> <%= @casillero.controlador.try(:nombre) %></p>
  <p><strong>Usuario:</strong> <%= @casillero.usuario.try(:first_name) %></p>

  <p><strong>Clave:</strong> <%= @casillero.clave %></p>

  <%= link_to 'Editar', edit_casillero_path(@casillero), class: 'btn btn-warning' %>
  <%= link_to 'Eliminar', casillero_path(@casillero), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
  <%= link_to 'Volver a la Lista de Casilleros', casilleros_path, class: 'btn btn-secondary' %>
</div>
