<div class="container mt-5">
  <h1 class="mb-4">Edit Locker</h1>

  <%= form_with(model: @locker, url: locker_path(@locker), local: true) do |form| %>
    <% if @locker.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading"><%= pluralize(@locker.errors.count, "error") %> prevented this locker from being saved:</h4>
        <ul>
          <% @locker.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :name, "Locker Name", class: "form-label" %>
      <%= form.text_field :name, class: "form-control", value: @locker.name %>
    </div>

    <div class="mb-3">
      <%= form.label :password, "Access Key", class: "form-label" %>
      <%= form.text_field :password, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :user_email, "Associated User Email", class: "form-label" %>
      <%= form.collection_select :user_email, User.all, :email, :email, { prompt: "Select an email" }, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= form.submit "Update Locker", class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <%= link_to 'Cancel', locker_path(@locker), class: "btn btn-secondary w-100 mt-2" %>
</div>
