<h1 class='text-center mb-4 my-title'>Lista de Casilleros</h1>

<div class="container">
  <div class="d-flex">
    <%= link_to 'Crear Nuevo Casillero', new_locker_path, class: 'my-btn-primary mb-3 mx-auto' %>
  </div>
  <table class="custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Controlador</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @lockers.each do |locker| %>
        <tr>
          <td><%= locker.id %></td>
          <td><%= locker.name %></td>
          <td><%= locker.user.try(:username) %></td>
          <td><%= locker.manager.try(:name) %></td>
          <td>
            <%= link_to 'Ver', locker_path(locker), class: 'my-btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
