<div class="container mt-5">
  <h2>Lista de Casilleros</h2>
  <table class="table">
    <thead class='myb'>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Controlador</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @lockers.each do |locker| %>
        <tr>
          <td><%= locker.id %></td>
          <td><%= locker.name %></td>
          <td><%= locker.user.try(:username) %></td>
          <td><%= locker.manager.try(:name) %></td>
          <td>
            <%= link_to 'Ver', locker_path(locker), class: 'btn btn-primary btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Crear Nuevo Casillero', new_locker_path, class: 'btn btn-success' %>
</div>
