<div class="container">
    <!-- Perfil del usuario en una tarjeta -->
    <section class="mb-4">
        <div class="card">
        <div class="card-header">
            <h2>Perfil del Usuario</h2>
        </div>
        <div class="card-body">
            <p><strong>Nombre:</strong> <%= @usuario.first_name %></p>
            <p><strong>Email:</strong> <%= @usuario.email %></p>
            <p><strong>Fecha de Creación:</strong> <%= @usuario.created_at.strftime("%d/%m/%Y") %></p>
        </div>
        </div>
    </section>
    <%= link_to 'Editar', edit_usuario_path(@usuario), class: 'btn btn-warning' %>
    <%= form_with url: usuarios_path(@casillero), method: :delete, class: 'd-inline' do |form| %>
        <%= form.submit 'Eliminar', class: 'btn btn-danger btn-sm', data: { confirm: '¿Estás seguro de que deseas eliminar este usuario?' } %>
    <% end %>
    <%= link_to 'Volver a la Lista de usuarios', usuarios_path, class: 'btn btn-secondary' %>
</div>